*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,html{
	height: 100%;
}
body{
	width: 100%;	
}
header {
    height: 6rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

header .contheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    /* align-items: center; */    
    width: 90%;
    margin: 0 auto;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

header .contheader .right-header {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header .contheader .right-header>div {
    padding: 0 1rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header .contheader .right-header>div h2 {
    font-size: 1.6rem;
    margin-bottom: .4rem;
    font-family: "CFPeruAdventure-Regular";
}

header .contheader .right-header>div h5 {
    color: #006fac;
    font-size: 1rem;
    font-weight: 800;
    color: #f30e5c;
}

header .contheader .logo-turismo {
    height: 100%;
}

header .contheader .logo-codigo {
    width: 150px;
    height: auto;
}

footer {
    margin-top: 2rem;
    height: 8rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5rem 0;
    background: #1b1919;
    color: white;
}

footer .nav-footer {
    height: 100%;
}

footer .nav-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

footer .nav-footer ul li {
    list-style: none;
    height: 100%;
    color: #eeeeee;
}

footer .nav-footer ul li a,
footer .nav-footer ul li p {
    color: #eeeeee;
    font-size: .73rem;
    text-decoration: none;
    -webkit-transition: .4s all ease;
    -o-transition: .4s all ease;
    transition: .4s all ease;
}

footer .nav-footer ul li a:hover {
    color: #c8c8c8;
}

footer .nav-footer ul li h6 {
    font-size: .85rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

footer .nav-footer ul li>div {
    height: 100%;
}

footer .nav-footer ul .ubicacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

footer .nav-footer ul .ubicacion h6 {
    padding-right: 1rem;
}

footer .container {
    width: 90%;
    margin: auto;
    height: 100%;
} 
/* menu */
.header {
    height: auto;
    padding: .5rem 0 0;
}

.header div:nth-child(2) {
    border-top: 2px solid #9f124a;
    margin-top: .5rem;
}

.header .contheader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.header .contheader>div {
    text-align: center;
}

.header .contheader>div h2 {
    font-size: 1.6rem;
    margin-bottom: .4rem;
    font-family: "CFPeruAdventure-Regular";
}

.header .contheader nav {
    width: 100%;
}

.header .contheader nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 2rem 0;
}

.header .contheader nav ul li {
    list-style: none;
    width: calc(100% / 5);
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 2px solid #9f124a;
    padding: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header .contheader nav ul li a {
    text-decoration: none;
    font-weight: 600;
    line-height: 0.9rem;
    font-size: 1rem;
    color: #000;
    -webkit-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
    position: relative;
    padding: 0 .5rem .3rem;
}

.header .contheader nav ul li a:after {
    content: '';
    height: 1.5px;
    background: #f30e5c;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
}

.header .contheader nav ul li a:hover {
    color: #f30e5c;
}

.header .contheader nav ul li a:hover:after {
    width: 100%;
}

.header .contheader nav ul li:last-child {
    border-right: none;
}

.header .contheader .logo-codigo {
    position: absolute;
    right: 0;
    top: 0;
}

.header .contheader .logo-turismo {
    height: auto;
    width: 90px;
}

/*  */
.titulo-canal{
	width: 100%;
	height: 10%;
	padding: 25px;	
}

.titulo-canal h2{	
	text-align: center;
	font-family: "Open Sans", "Arial";
	font-size: 26px;
}

/* Estilos seccion 1 (color rojo) */
.seccion-canal1{
	width: 590px;
	height: 220px;
	border: 1px solid black;
	background-color:#EBCAAE;
	margin: 20px auto;
	overflow: hidden;
}

.titulo-canal1{
	border: 5px solid red;
	background-color: #EBB1B8;
	height: 80px;
}

.titulo-canal1 h3{
	font-family: "Open Sans";
	font-size: 28px;
	margin-top: 16px;
	text-align: center;
}

.contenedor-canal1{
	padding: 10px;
	height: 115px;
    border-top: 1px solid black;    
}

.descripcion-canal1 ul>li{
	list-style: none;
}

.descripcion-canal1{
    float:left;
    height: 100%;    
    margin: 8px 10px 0 10px;
}

.contenedor-videos1{
    float:	left;       
	margin: 0 5px 0 10px;     	
}

.contenedor-categoria1{
	border-top: 1px solid black;
	background-color: white;
    height: 100%;    		
}

.categoria-canal1{    
    float:left;    
    margin:2px 0 2px 15px;    
}

.logo-canal1{
	float:right;
	margin:2px 12px 2px 0;
}

.calificacion-canal1{
	height:25px;
}

.calificacion-canal1 li a{
	text-decoration: none;
}

.calificacion-canal1 li{
	display: inline;
}

.calificacion-canal1 li a{
	color:orange;
}

.calificacion-canal1 li a:hover{
	color:purple;
}
/* Final de estilos seccion 1 (color rojo) */

/* Estilos seccion 2 (color amarillo) */
.seccion-canal2{
	width: 590px;
	height: 220px;
	border: 1px solid black;
	background-color:#FFE088;
	margin: 20px auto;
	overflow: hidden;
}

.titulo-canal2{
	border: 5px solid #FFD319;
	background-color: #FFFACC;
	height: 80px;
}

.titulo-canal2 h3{
	font-family: "Open Sans";
	font-size: 28px;
	margin-top: 16px;
	text-align: center;
}

.contenedor-canal2{
	padding: 10px;
	height: 115px;
	border-top: 1px solid black;
}

.descripcion-canal2 ul>li{
	list-style: none;
}

.descripcion-canal2{
    float:left;
    height: 100%;
	margin: 8px 10px 0 10px;
}

.contenedor-videos2{
	float:	left;
	margin: 0 5px 0 10px;
}

.contenedor-categoria2{
	border-top: 1px solid black;
	background-color: white;
	height: 100%;		
}

.categoria-canal2{
	float:left;
	margin:2px 0 2px 15px;
}

.logo-canal2{
	float:right;
	margin:2px 12px 2px 0;
}

.calificacion-canal2{
	height:25px;
}

.calificacion-canal2 li a{
	text-decoration: none;
}

.calificacion-canal2 li{
	display: inline;
}

.calificacion-canal2 li a{
	color:orange;
}

.calificacion-canal2 li a:hover{
	color:purple;
}
