*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caja{
    padding: 25px;
    padding-left: 100%;
    
}
.cas{
    width: 50%;
    float: right;
}
section{
    width: 100%;
}
section > div {
    width: 50%;
    float: left;
}